{% extends 'base.html' %}


{% block title  %}
    42 Coffee Cups Test Assignment
{% endblock %}


{% block content %}
    <div class="page-header"><h2>42 Coffee Cups Test Assignment</h2></div>



    <div class="row">
        {% if bio %}
        <div class="span6">
            <dl class="dl-horizontal">
                <dt>
                    Name:
                </dt>
                <dd>
                    {{ bio.name }}
                </dd>
                <dt>
                    Last name:
                </dt>
                <dd>
                    {{ bio.lastname }}
                </dd>
                <dt>
                    Date of birth:
                </dt>
                <dd>
                    {{ bio.date_of_birth|date:"Y-m-d" }}
                </dd>
                <dt>
                    Bio:
                </dt>
                <dd>
                    {{ bio.bio }}
                </dd>
            </dl>
        </div>


        <div class="span6">
            <dl class="dl-horizontal">
                            <dt>
                                Email:
                            </dt>
                            <dd>
                                {{ bio.email }}
                            </dd>
                            <dt>
                                Jabber:
                            </dt>
                            <dd>
                                {{ bio.jabber }}
                            </dd>
                            <dt>
                                Skype:
                            </dt>
                            <dd>
                                {{ bio.skype }}
                            </dd>
                            <dt>
                                Other contacts:
                            </dt>
                            <dd>
                                {{ bio.other_contacts }}
                            </dd>
                        </dl>
        </div>

        {% endif %}
    </div>
    <div style="border-top: 3px solid #EEE;padding-top: 10px;">
        <a href='/requests/'>
            Requests

        </a>
    </div>
{% endblock %}