{% extends 'base.html' %}
{% load test_tags %}

{% block title  %}
    42 Coffee Cups Test Assignment
{% endblock %}


{% block content %}
    <div class="page-header">
        <h2 >42 Coffee Cups Test Assignment
                <a class="offset4" style="font-size: medium;" href="{% url edit-bio %}">Edit</a> {% if user.is_authenticated %}(<a style="font-size: medium;" href="{% edit_link user %}">admin</a>){% endif %}
        </h2>
    </div>



    <div class="row">
        {% if bio %}
            <div class="span4">
                <dl class="dl-horizontal">
                    <dt>
                        Name:
                    </dt>
                    <dd>
                        {{ bio.name }}
                    </dd>
                    <dt>
                        Last name:
                    </dt>
                    <dd>
                        {{ bio.lastname }}
                    </dd>
                    <dt>
                        Date of birth:
                    </dt>
                    <dd>
                        {{ bio.date_of_birth|date:"Y-m-d" }}
                    </dd>
                    <dt>
                        Photo:
                    </dt>
                    <dd>
                        <img width="256" style="padding-left: -100px;padding-top: 50px" src="{{ bio.photo.url }}" alt="{{ bio.photo.url }}" />
                    </dd>

                </dl>
            </div>


            <div class="span5">
                <dl class="dl-horizontal">
                    <dt>
                        Email:
                    </dt>
                    <dd>
                        {{ bio.email }}
                    </dd>
                    <dt>
                        Jabber:
                    </dt>
                    <dd>
                        {{ bio.jabber }}
                    </dd>
                    <dt>
                        Skype:
                    </dt>
                    <dd>
                        {{ bio.skype }}
                    </dd>
                    <dt>
                        Bio:
                    </dt>
                    <dd>
                        {{ bio.bio }}
                    </dd>
                    <dt>
                        Other contacts:
                    </dt>
                    <dd>
                        {{ bio.other_contacts }}
                    </dd>
                </dl>
            </div>

        {% endif %}
    </div>
    <div style="border-top: 3px solid #EEE;padding-top: 10px;">
        <a href='/requests/'>
            Requests

        </a>
    </div>
{% endblock %}