{% extends 'base.html' %}
{% load test_tags %}

{% block title  %}
    42 Coffee Cups Test Assignment
{% endblock %}


{% block content %}
    <div class="page-header"> <h2> Requests </h2> </div>

    <table class="table table-striped">
    <thead>
    <tr>
        <th>
            Time
        </th>
        <th>
              Request body
        </th>
        <th>
            Request priority
        </th>
        <th>
            Change
        </th>
    </tr>
    </thead>
    <tbody>
    {% if requests %}
      {% for record in requests %}
          <tr>
              <td>
                    {{ record.create_data|date:"d/m/Y H:i" }}
              </td>
              <td>
                                  {{ record.body }}
              </td>
              <td>
            {{ record.priority }}
              </td>
          <td>
              <a class="btn" href="{% edit_link record %}">Change</a>
          </td>
          </tr>
    {% endfor %}
    {% endif %}
    </tbody>
    </table>
{% endblock %}