{% extends 'base.html' %}
{% load test_tags %}

{% block title  %}
    42 Coffee Cups Test Assignment
{% endblock %}


{% block content %}
    <div class="page-header"> <h2> Requests </h2> </div>

    <table class="table table-striped" id="request-log">
    <thead>
    <tr>
        <th>
            Time
        </th>
        <th>
              Request body
        </th>
        <th>
            Request priority
        </th>
        <th>
            Change priority
        </th>
    </tr>
    </thead>
    <tbody>
    {% if requests %}
      {% for record in requests %}
          <tr>
              <td>
                    {{ record.create_data|date:"Y-m-d H:i" }}
              </td>
              <td>
                                  {{ record.body }}
              </td>
              <td>
            {{ record.priority }}
              </td>
              <td>
                  <a  href="{% url edit-priority record.id 1 %}"><i class="icon-arrow-up"></i></a>
                  <a  href="{% url edit-priority record.id 0 %}"><i class="icon-arrow-down"></i></a>
              </td>
          </tr>
    {% endfor %}
    {% endif %}
    </tbody>
    </table>
{% endblock %}